@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect (0 0 0 0 );
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
  letter-spacing: 0.15px;
  padding-top: 40px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}


/*Заглушка от вываливания при уменьшении окна по ширине*/
.footer-wrapper {
background-color: #464646;
padding: 65px 0px 66px 0px;
}

.main-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.index-slider a,
.upper-navigation a,
.site-navigation a,
.user-navigation a {
  color: #000000;
}

.catalog-navigation {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  list-style: none;
  text-transform: none;
}

.upper-navigation a:hover,
.upper-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.index-catalog a:active,
.upper-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.index-slider {
  list-style: none;
}

.slider-text .slider-call {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 31px;
  color: #000000;
}

.slider-text p {
  margin-bottom: 47px;
}

.slider-features {
  margin-top: 60px;
}

.slider-features {
  width: 425px;
}

.slider-features td {
  margin-right: 81px;
}
.btn {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  padding: 14px 43px 11px 44px;
  background-image: url('../img/btnback.png');
  background-repeat: no-repeat;
  background-position: center;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0,0,0,0.3);
}

.slider-features th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: 300;
}

.slider-features td {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
}

.index-catalog ul {
  list-style: none;  
}

.index-catalog a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  position: relative;
  padding-top: 200px;
  display: block;
  width: 160px;
}

.index-catalog a::before {
  content: '';
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-color: rgba(240,197,46, 0.5);
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.index-catalog li:nth-child(1) a::before {
  background-image: url(../img/popular-1.svg);
}

.index-catalog li:nth-child(2) a::before {
  background-image: url(../img/popular-2.svg);
  background-position: bottom;
}

.index-catalog li:nth-child(3) a::before {
  background-image: url(../img/popular-3.svg);
}

.index-catalog li:nth-child(4) a::before {
  background-image: url(../img/popular-4.svg);
}

.index-catalog li:nth-child(5) a::before {
  background-image: url(../img/popular-5.svg);
}

.index-catalog li:nth-child(6) a::before {
  background-image: url(../img/poppular-6.svg);
}

.index-catalog a:focus::before,
.index-catalog a:hover::before {
  background-color: rgba(240,197,46,1);
}

.index-catalog a:active::before,
.index-catalog a:active::before {
  background-color: rgba(240,197,46,1);
  
}
.partners-logos ul {
  list-style: none;
}

.index-service h3,
.index-aboutus h2,
.index-contacts h2{
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.index-aboutus li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  list-style: circle;
  color: #000000;
}

.footer-user,
.footer-service ul,
.footer-social ul {
  list-style: none;
}

.footer-nav a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: #ffffff;
}

.footer-service a {
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.footer-service a:hover,
.footer-service a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active,
.footer-service a:active,
.footer-social a {
  color: rgba(255, 255, 255, 0.3);
}

/*catalog.html*/

.inner-page h1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.inner-page button {
  background-color: #ffffff;
  border: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:focus,
.breadcrumbs a:hover,
.breadcrumbs-current:focus,
.breadcrumbs-current:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter-form fieldset {
  border: none;
}

.filters h2,
.catalog h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
}

.filter-form legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filter-form ul {
  font-family: 'OpenSans', Arial, sans-serif;
  list-style: none;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
  opacity: 0.3;
}

.catalog-breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

a.catalog-active {
  opacity: 1;
}

.catalog-list,
.catalog-breadcrumbs{
  list-style: none;
}

.catalog-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.catalog-item p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}


/*flex header*/

.upper-navigation {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: rgba(240,197,46,0.5);
  padding: 53px 61px 58px 60px;
  box-sizing: border-box;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  top: 21px;
}

.user-navigation,
.footer-user{
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
}

.login-link,
.compare,
.basket{
  display: block;
  padding-left: 25px;
  position: relative;
}

.login-link::before{
  content: '';
  width: 13px;
  height: 12px;
  position: absolute;
  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 9px;
  left: 0px;
}

.main-footer .login-link::before {
  background-image: url('../img/user-f.svg');
}

.compare::before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-image: url('../img/compare.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 11px;
  left: 5px;
}

.main-footer .compare::before {
  background-image: url('../img/compare-f.svg');
}

.basket::before{
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 5px;
}

.main-footer .basket::before {
  background-image: url('../img/cart-f.svg');
}


.login-link:hover::before,
.login-link:focus::before,
.compare:hover::before,
.compare:focus::before,
.basket:hover::before,
.basket:focus::before,
.htmlacademy:focus,
.htmlacademy:hover {
  opacity: 0.6;
}

.login-link:active::before,
.compare:active::before,
.basket:active::before,
.htmlacademy:active {
  opacity: 0.3;
}

.user-navigation li:last-child,
.footer-user li:last-child {
  margin-left: 20px;
}


.search-field {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 38px;
  
}

.search-field::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 7px;
  left: 4px;
}



input[type=search] {
  width: 125px;
  background-color: #f7e184;
  border: none;
  padding: 0;  
  opacity: 0.3;
}

.search-field button {
  background-color: #f7e184;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  border-bottom: none;
  width: 85px;
  height: 49px;
}

.compare {
  margin-right: 65px;
  margin-left: 86px;
}

/*
form.search-field 
{
  border-bottom: 2px solid #000000;
}
*/


/*main-navigation*/
.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation li:first-child {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-right: 114px;
  margin-left: 38px;
}

.header-catalog {
  display: block;
  padding-right: 32px;
  position: relative;
}

.header-catalog::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url('../img/plus@2x.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  top: 3px;
  right: 8px; 
}


/*============flex main slider===============*/
.index-slider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.index-slider li {
  display: flex; 
/*  justify-content: space-around;*/
}

body .hidden {
  display: none;
}

.slider-nav {
  padding: 0;
  display: flex;
  position: absolute;
  right: 83px;
  bottom: 100px;
}

.first-slide {
  background-image: url('../img/01.png');
  background-repeat: no-repeat;
  background-position: 0 -199px;
}

.first-slide img {
  width: 384px;
  height: 486px;
  margin-left: 90px;
  margin-right: 125px;
}


/*============index-catalog================*/
.index-catalog ul {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 106px;
  padding-bottom: 84px;
}

/*=============index-service===============*/
.index-service {
  background-image: url('../img/services-bg.png');
  background-repeat: repeat-x;
}

.index-service ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-service a:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.index-service h3,
.index-service p {
  margin: 0;
}

.index-service h3 {
  margin-bottom: 40px;
}

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 117px;
}

.service-slides {
  position: relative
}

.service-slides h3 {
  color: #000000;
}

.service-slides::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  top: -75px;
  left: -145px;
}

.service-list a {
  box-sizing: border-box;
  margin: 0;
  width: 160px;
  display: block;
  padding: 14px 23px;
}

.service-list li {
/*  margin-bottom: 40px;*/
}

.slider-wrapper {
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
}

.delivery-slide {
  width: 450px;
  position: relative;
/*  padding-right: 250px;*/
}

.delivery-slide::after {
  content: '';
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
  right: -250px;
  top: 15px;
  
}

.index-service .service-slides {
  margin-left: 140px;
}

.index-service .active-tab {
  width: 278px;
  height: 40px;
  background-image: none;
  background-color: #000000;
  color: #f0c52e;
  text-align: left;
  padding: 14px 137px 11px 19px;
  line-height: 16px;
}
/*
.service-list li:not(:last-of-type) {
  margin-bottom: 29px;
}
*/


/*=============us-contacts=================*/

.uscontacts-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.index-aboutus {
  width: 482px;
  position: relative;
}
.index-contacts h2::before,
.index-aboutus h2::before {
  content: '';
  width: 80px;
  height: 7px;
  position: absolute;
  background-color: #000000;
  top: -51px;
}

.index-aboutus ul {
  margin: 0;
  margin-bottom: 80px;
}

.index-contacts {
  width: 560px;
  position: relative;
}

.index-aboutus p,
.index-contacts p {
  margin: 0;
  margin-bottom: 44px;
}

.index-contacts img {
  margin-bottom: 80px;
}

.index-twocolumn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.index-twocolumn h2{
  margin: 0;
  margin-bottom: 59px;
  color: #000000;
}

/*============Partners logo=================*/
.partners-logos {
  padding-top: 94px;
  padding-bottom: 93px;
  box-sizing: border-box;
}

.partners-logos ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}



/*==============footer============*/

.footer-nav {
  display: flex;
  align-items: center;
}

footer .compare {
  margin-left: 64px;
}

.footer-service {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-service p {
  margin: 0;
}

.footer-social ul,
.footer-service ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-service li:nth-child(2) {
  margin-left: 38px; 
  margin-right: 38px;
}

.footer-social {
  display: flex;
  margin-top: 70px;
  position: relative;
}

.footer-social li:nth-child(2) {
  margin-right: 22px;
  margin-left: 23px;
}

.footer-social ul {
  margin-left: 523px;
}

.footer-social::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  position: absolute;
  top: 10px;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover,
.social-button:active{
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}
.htmlacademy {
  margin-left: auto;
}



